/* MAIN */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.form-container {
    background: var(--cor-card-claro); /* antes: #f1f5f9 */
    width: 360px;
    padding: 3.2rem;
    border-radius: 1.6rem;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

/* TEXTOS DO FORM */
.form-container h1 {
    font-size: 2.8rem;
    color: var(--cor-input-bg); 
    margin-bottom: 0.8rem;
    font-weight: 700;
}

.form-container p {
    font-size: 1.6rem;
    color: var(--cor-input-bg); 
    margin-bottom: 2.4rem;
}

/* INPUTS */
.form-container input {
    width: 100%;
    padding: 1.2rem;
    margin-bottom: 1.6rem;
    border-radius: 0.8rem;
    border: 1px solid var(--cor-input-borda); /* antes: #cbd5e1 */
    font-size: 1.6rem;
    color: var(--cor-input-bg);
}

/* BOTÃO */
.btn-submit {
    width: 100%;
    padding: 1.2rem;
    background: var(--cor-verde); /* antes: #05F283 */
    border: none;
    border-radius: 0.8rem;
    color: #000D08;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.btn-submit:hover {
    background: var(--cor-verde-hover); /* antes: #03c86d */
}

/* TOGGLE */
.toggle {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    color: var(--cor-input-bg); /* antes: #475569 */
}

.toggle a {
    color: #2563eb; /* este azul faz sentido manter */
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
}
