/* MAIN */
.cadastro {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.cadastro__container {
    background: var(--fundo-cartao);
    width: 36rem;
    padding: 3.2rem;
    border-radius: 1.6rem;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

/* TEXTOS */
.cadastro__titulo {
    font-size: 2.8rem;
    color: var(--texto-principal);
    margin-bottom: 0.8rem;
    font-weight: 700;
}

.cadastro__subtitulo {
    font-size: 1.6rem;
    color: var(--texto-principal);
    margin-bottom: 2.4rem;
}

/* CAMPOS */
.cadastro__campo {
    width: 100%;
    padding: 1.2rem;
    margin-bottom: 1.6rem;
    border-radius: 0.8rem;
    border: 1px solid var(--borda-sutil);
    font-size: 1.6rem;
    background: var(--fundo-campo);
    color: var(--texto-secundario);
}

/* BOTÃO */
.cadastro__botao {
    width: 100%;
    padding: 1.2rem;
    background: var(--cor-primaria);
    border: none;
    border-radius: 0.8rem;
    color: #000D08;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.cadastro__botao:hover {
    background: var(--cor-primaria-hover);
}

/* ALTERNAR LOGIN */
.cadastro__alternar {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    color: var(--texto-principal);
}

.cadastro__alternar-link {
    color: #2563eb;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
}
