.footer {
    background: var(--fundo-pagina);
    color: var(--texto-principal);
    padding: 4rem 0 2rem;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
}

.footer-col h3 {
    color: var(--cor-branco);
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 0.8rem 0;
    font-size: 1.8rem;
}

.footer-col ul li a {
    color: var(--cor-texto-cinza);
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: var(--texto-secundario);
}

.social {
    margin-top: 1.6rem;
    display: flex;
    gap: 1.4rem;
}

.social a {
    color: var(--texto-principal);
    text-decoration: none;
    font-size: 1.4rem;
}

.social a:hover {
    color: var(--texto-secundario);
}

.footer-bottom {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.3rem;
    color: var(--cor-texto-cinza);
    border-top: 1px solid var(--borda-sutil); 
    padding-top: 1.6rem;
}
