* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
  /* --- 1. IDENTIDADE (O Verde Principal) --- */
  --cor-primaria:        #10B981; /* Verde Esmeralda Moderno */
  --cor-primaria-hover:  #059669; /* Verde mais escuro (ao passar o mouse) */
  --cor-primaria-suave:  rgba(16, 185, 129, 0.15); /* Fundo esverdeado transparente */

  /* --- 2. FUNDOS (Modo Escuro Moderno) --- */
  --fundo-pagina:        #121212; /* Cinza quase preto (melhor que #000) */
  --fundo-cartao:        #1E1E1E; /* Fundo do container */
  --fundo-campo:         #27272a; /* Fundo dos inputs (onde digita) */

  /* --- 3. TEXTOS --- */
  --texto-principal:     #F1F5F9; /* Branco gelo (lê melhor que branco puro) */
  --texto-secundario:    #94A3B8; /* Cinza azulado (para labels "Nome", "Email") */
  --texto-invertido:     #0f172a; /* Cor escura (para usar DENTRO do botão verde) */

  /* --- 4. BORDAS --- */
  --borda-sutil:         #3F3F46; /* Linha fina cinza para separar áreas */

  /* --- 5. AÇÕES DE PERIGO (Botão Excluir) --- */
  --cor-erro:            #EF4444; /* Vermelho alerta */
  --cor-erro-hover:      #DC2626; /* Vermelho mais forte */
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--fundo-pagina);
    font-family: Arial, sans-serif;
}