main {
    flex: 1;
    padding: 4rem 4rem;
}

.main-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-texto>h1 {
    font-size: 4.5rem;
    margin-top: 2.0rem;
    line-height: 1.1;
    font-weight: 800;
    color: var(--cor-primaria);
}

.main-texto>h2 {
    font-size: 3rem;
    margin-top: 2rem;
    line-height: 1.3;
    font-weight: 600;
    color: var(--texto-principal);
}

.main-texto>p {
    font-size: 2.6rem;
    margin-top: 2.0rem;
    line-height: 1.5;
    color: var(--texto-principal);
    max-width: 1120px; /* Limita a largura do parágrafo */
}

.btn-chamada {
    padding: 0.8rem 1.6rem;
    border: 1px solid var(--cor-primaria);
    background: var(--cor-primaria);
    color: var(--texto-invertido);
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.8rem;
    margin: 2rem 2rem;
    height: 5rem;
    width: 30rem;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.cards-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    max-width: 1200px;
    /* Limita a largura máxima do cartão */
    width: 100%;
    /* Ocupa 100% da largura do contêiner */
}

.cards-info img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-texto {
    max-width: 500px;
    width: 100%;
    font-size: 4.6rem;
    font-weight: 400;
    padding: 2rem 4rem;
    color: var(--texto-principal);
    text-align: justify;
}

.div-imagem {
    height: 200px;
    width: 300px;
    padding: 0;

}

@media (max-width: 768px) {
    .cards-info {
        /* Muda a direção do Flexbox para empilhar os itens */
        flex-direction: column;
    }
}