main {
    flex: 1;
}

.main-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-texto > h1 {
    font-size: 7.6rem;
    margin-top: 2.0rem;
    line-height: 1.1;
    font-weight: 800;
    color: var(--texto-principal);
}

.main-texto > h2 {
    font-size: 4.2rem;
    margin-top: 2.0rem;
    line-height: 1.3;
    font-weight: 600;
    color: var(--texto-principal);
}

.main-texto > p {
    font-size: 2.6rem;
    margin-top: 2.0rem;
    line-height: 1.5;
    color: var(--texto-principal);
}

.btn-chamada {
    padding: 8px 16px;
    border: 1px solid var(--cor-primaria);
    background: var(--cor-primaria);
    color: var(--texto-invertido); /* #000D08 → cor escura mais próxima */
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.8rem;
    margin-top: 10px;
    margin-left: 10px;
}
