/* MAIN */
main {
    color: var(--fundo-pagina);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === BLOCO LOGIN === */
.login__container {
    background: var(--fundo-cartao); 
    width: 360px;
    padding: 32px;
    border: 2px solid var(--borda-sutil); 
    border-radius: 1.6rem;
    margin: 60px auto;
    text-align: center;
}

.login__titulo {
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
    color: var(--texto-principal);
}

.login__descricao {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
    color: var(--texto-principal);
}

.login__campo {
    width: 100%;
    padding: 1.2rem;
    margin-bottom: 1.6rem;
    border-radius: 0.8rem;
    background: var(--fundo-campo); 
    color: var(--texto-secundario); 
    font-size: 1.4rem;
    border: 1px solid var(--borda-sutil); 
}

.login__campo::placeholder {
    color: var(--texto-principal); 
}

.login__botao {
    width: 100%;
    padding: 12px;
    background: var(--cor-primaria); 
    border: none;
    border-radius: 0.8rem;
    color: var(--texto-invertido); 
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.login__botao:hover {
    background: var(--cor-primaria-hover); 
}

.login__recuperar-senha {
    margin-top: 1rem;
    font-size: 1.4rem;
}

.login__alternar-acesso {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    color: var(--texto-principal); 
}

.login__alternar-acesso a,
.login__container a {
    color: #2563eb;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
}
