
 main {
    color: #fff;
    flex: 1;
}

 /* === CONTAINER LOGIN === */
 .container {
     background: #f1f5f9;
     width: 360px;
     padding: 32px;
     border: 2px solid white;
     border-radius: 16px;
     margin: 60px auto;
     /* centraliza sem interferir no footer */
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
     text-align: center;
 }

 .container h1 {
     font-family: "Montserrat", sans-serif;
     font-size: 2.6rem;
     margin-bottom: 8px;
     color: #000D08;
 }

 .container p {
    font-size: 1.6rem;
     margin-top: 0;
     margin-bottom: 24px;
     color: #000D08;
 }

 input {
     width: 100%;
     padding: 12px;
     margin-bottom: 16px;
     border-radius: 8px;
     background: #fff;
     color: #000D08;
     font-size: 1.4rem;
 }

 input::placeholder {
     color: #94a3b8;
 }

 button {
     width: 100%;
     padding: 12px;
     background: #05f283;
     border: none;
     border-radius: 8px;
     color: #000;
     font-size: 16px;
     font-weight: 700;
     cursor: pointer;
     transition: 0.2s;
 }

 button:hover {
     background: #03c86d;
 }

 .resetsenha{
    margin-top: 10px;
    font-size: 2.2rem;
 }

 .toggle {
     margin-top: 16px;
     font-size: 1.4rem;
     color: #000D08;
 }

 .toggle a,
 .container a {
     color: #2563eb;
     font-size: 1.4rem;
     font-weight: bold;
     text-decoration: none;
     
 }

 