main {
    color: var(--cor-branco);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === CONTAINER LOGIN === */
.container {
    background: var(--cor-card-claro); 
    width: 360px;
    padding: 32px;
    border: 2px solid var(--cor-branco); 
    border-radius: 16px;
    margin: 60px auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    text-align: center;
}

.container h1 {
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
    color: var(--cor-input-bg);
}

.container p {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
    color: var(--cor-input-bg);
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 8px;
    background: var(--cor-branco); 
    color: var(--cor-card); 
    font-size: 1.4rem;
    border: 1px solid var(--cor-input-borda); 
}

input::placeholder {
    color: var(--cor-texto-cinza); 
}

button {
    width: 100%;
    padding: 12px;
    background: var(--cor-verde); 
    border: none;
    border-radius: 8px;
    color: var(--cor-navbar); 
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: var(--cor-verde-hover); 
}

.resetsenha {
    margin-top: 10px;
    font-size: 2.2rem;
}

.toggle {
    margin-top: 16px;
    font-size: 1.4rem;
    color: var(--cor-card); 
}

.toggle a,
.container a {
    color: #2563eb;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
}
