.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2.4rem;  
    background: var(--fundo-pagina); 
    border-bottom: 1px solid var(--borda-sutil); 
    font-family: Arial, Helvetica, sans-serif;
}

/* LOGO */
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--texto-principal);
}

/* LINKS */
.nav-links {
    display: flex;
    gap: 2.4rem;
    list-style: none;
}

.nav-links a {
    color: var(--texto-principal); 
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: var(--cor-primaria-hover); 
}

/* BOTÃO LOGIN */
.btn-login {
    padding: 0.8rem 1.6rem;
    border: 1px solid var(--borda-sutil); 
    background: var(--cor-primaria); 
    color: var(--texto-invertido); 
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.8rem;
    text-decoration: none;
}

.btn-login:hover {
    background: var(--cor-primaria-hover); 
    color: var(--texto-invertido); 
}

/* Área do usuário */
.user-area {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

/* Avatar redondo */
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--cor-verde);
}

