/* === MAIN (conteúdo centralizado e flexível) === */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1.6rem;
}

/* Card do formulário */
.form-card {
    width: 36rem;
    background: var(--cor-card-claro); 
    padding: 3.2rem;
    border-radius: 1.6rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* Tipografia do formulário */
.form-card h1 {
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
     color: var(--cor-input-bg); 
}

.form-card p {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
    color: var(--cor-input-bg); 
}

/* Inputs */
.form-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 8px;
    background: var(--cor-branco);
    color: var(--cor-navbar);
    font-size: 1.4rem;
}

/* Placeholder mais claro */
.form-card input::placeholder {
    color: var(--cor-texto-cinza);
}

/* Botão principal */
.btn-submit {
    width: 100%;
    padding: 12px;
    background: var(--cor-verde);
    border: none;
    border-radius: 8px;
    color: var(--cor-bg); 
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.btn-submit:hover {
    background: var(--cor-verde-hover);
}

/* Link auxiliar */
.toggle {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    color: var(--cor-navbar);
}

.toggle a {
    color: #2563eb;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
}
