/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #121212;
    font-family: Arial, sans-serif;
    color: #fff;
}

/* MAIN */
main {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sobre-container {
    width: 90%;
    max-width: 1100px;
    padding: 4rem 0;
    text-align: center;
}

.sobre-container h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.descricao {
    font-size: 2.4rem;
    color: #ccc;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    margin-bottom: 4rem;
}

/* Cards */
.cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #00140F;
    border: 1px solid #05F283;
    border-radius: 1.2rem;
    padding: 2.4rem;
    width: 32rem;
    box-shadow: 0 0 16px rgba(5, 242, 131, 0.1);
}

.card h2 {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
    color: #05F283;
}

.card p {
    font-size: 1.8rem;
    color: #ddd;
    line-height: 1.5;
}
